.cycles {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.cyclesDots {
	display: flex;
	align-items: center;
	gap: 1rem;
	margin-top: 1rem;
}

.cycleDot {
	height: 2rem;
	border-radius: 50%;
	width: 2rem;
	background: yellowgreen;
}

.workTime {
	background: var(--warning);
}

.shortBreakTime {
	background: var(--primary);
}

.longBreakTime {
	background: var(--info);
}

.bad {
	background: var(--error);
}
