.button {
	background: var(--primary);
	color: var(--text-over-primary);
	transition: filter 0.1s ease-in-out;
}

.button:hover {
	filter: brightness(80%);
}

.button svg {
	width: 2.4rem;
	height: 2.4rem;
}
